.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #081c0e;
  border-radius: 4px 4px 0 0;
  height: 60px;
  width: 100%;
  box-shadow: 0 1px 5px 1px #143e22;
}

.leftInnerContainer {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 10px;
  color: white;
}

.rightInnerContainer {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 10px;
}

.onlineIcon {
  margin-right: 10px;
}

.close-icon {
  width: 20px;
}

.close-icon:hover {
  box-shadow: 0 0 6px 1px #b9b9b9;
}

.toggle-menu {
  display: none;
}

.online {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: greenyellow;
  margin: 0 10px;
}

.hamburger-icon {
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin: 5px 0;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .toggle-menu {
    display: block;
    padding-right: 15px;
  }
}
